[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
pandas = "*"
pyarrow = "*"
s3fs = "*"
jupyter = "*"
pytest = "*"
awscli-local = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
localstack = "*"

[requires]
python_version = "3.10"
