[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
evidently = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
jupyter = "*"
psycopg = "*"
matplotlib = "*"
psycopg-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
